<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Activity 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-datetime value="2021-10-27" 
  display-timezone="utc"></ion-datetime>
  <ion-item>
    <ion-label>Unread Items</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Short Introduction </ion-card-subtitle>
      <ion-card-title>Hello!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      My name is Mark B. Virtus. I am currently studying at Gordon 
      College with a course of Bacheor of Science in Information Technology 
      at the age of 20. I live in Colo, Dinalupihan, Bataan. I have 3 siblings 
      and I am the eldest to them. During this pandemic my hobbies are only 
      watching movies or anime, using social media apps like facebook.
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Select Your Favorite Dish</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Adobo</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Sinigang</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Papaitan</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Lechon</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Sisig</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
